.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Clearfix hack learned from W3 schools page. https://www.w3schools.com/cssref/pr_class_float.asp*/

body
{
  background-color: #DDEAF6;
}

h1, h2, h3
{
  color: #cc5500;
  font-family: "Times New Roman", Times, serif;
}

h1
{
  text-align: center;
}
